.root {
   width: 80%;
   margin-inline: auto;
   height: min-content;
   place-content: space-between;
   align-items: center;
   padding: 14px;
   border-radius: 14px;
   background-image: linear-gradient(92.6deg, #eaf0f02d 0%, #eaf0f01a 100%); /* Darkened the navbar */
   background-position: center;
   background-repeat: no-repeat;
   background-size: auto;
   backdrop-filter: blur(5.5px);
   display: flex;
   flex-direction: row;
}

.frame1, .frame3 {
   width: min-content;
   height: min-content;
   place-content: center;
   align-items: center;
   gap: 54px;
   padding: 10px;
   display: flex;
   flex-direction: row;
}

/* Responsive styles */
@media (max-width: 768px) {
   .root {
       flex-direction: column;
       width: 100%;
       padding: 10px;
   }

   .frame1, .frame3 {
       flex-direction: column;
       gap: 20px;
       padding: 5px;
   }

   .frame2, .frame32 {
       padding: 8px 16px;
   }
}

.home, .help, .reservation, .contactUs, .signIn, .signUp {
   color: #000000;
   font-size: 16px;
   font-weight: 600;
   font-family: 'Roboto', sans-serif; /* Changed the font to Roboto */
   letter-spacing: 0.06em;
   text-transform: capitalize;
   width: min-content;
   height: min-content;
   text-align: center;
   align-items: center;
   white-space: nowrap;
   flex-direction: column;
   text-decoration: none; /* Add this line to remove underline */
   opacity: 0.8; /* Set the same opacity for all elements */
}

.frame2, .frame32 {
   width: min-content;
   height: min-content;
   padding: 12px 32px;
   border-radius: 10px;
}

.frame32 {
   background-color: #346eec;
}

.signUp {
   color: #fff;
}
