body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.admin-dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #444;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #444;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

.main-content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.main-content header h1 {
    margin: 0;
    font-size: 24px;
}

.main-content header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-content header ul li {
    display: inline;
    margin-left: 10px;
}

.main-content header ul li a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.main-content header ul li a:hover {
    color: #666;
}

.content {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.table-container {
    overflow-y: auto;
    max-height: 470px;
    width: 100%;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.table-container th {
    background-color: #f2f2f2;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tbody tr:hover {
    background-color: #dddddd;
}

.action-button {
    padding: 8px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #b02a37;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #FFFFFF;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination span {
    padding: 8px 10px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination span.active {
    background-color: #444;
    color: #fff;
}

.pagination span:hover {
    background-color: #444;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .admin-dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .main-content {
        padding-top: 60px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
.py-5 {
    padding-top: 2rem !important; /* Reduce top padding */
    padding-bottom: 2rem !important; /* Reduce bottom padding */
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(68, 68, 68, var(--bs-bg-opacity)) !important; /* Change color to #444 */
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
}
.m-0 {
    margin: 0 !important;
}
.text-center {
    text-align: center !important;
}
.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.text-white-50 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.5) !important;
}

.sidebar-heading {
    text-transform: uppercase !important;
}
.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
}
.sidebar .sidebar-heading {
    text-align: left;
}
.sidebar-light .sidebar-heading {
    color: #b7b9cc;
}
.sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
}
.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}
.sidebar-light hr.sidebar-divider {
    border-top: 1px solid #eaecf4;
}
.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
